@{
    ViewBag.Title = "Home Page";

}
@section scripts{

    <script src="~/Scripts/echarts.js"></script>

}

<div id="barraPrincipal" class="jumbotron">
    <h1>Dashboard - Balanço</h1>
    <p class="lead">Recurso X Requisito</p>

    <p><a id="btnGerar" class="btn btn-primary btn-lg">Gerar &raquo;</a></p>
    <p><a id="btnCalcular" style="background-color: orangered; border-color: orangered;" class="btn btn-primary btn-lg">Calcular &raquo;</a></p>
    <select id="TipoBalanco" name="select">
        <option value="1" selected >Balanço consumo</option>
        <option value="2" >Balanço geração</option>
        
    </select>
    <input type="text" id="DataInicio" class="form-group-sm  DataClass" style="margin-right:5px;" placeholder="Data Inicial" />
    <input type="text" id="DataFinal" class="form-group-sm  DataClass" style="margin-right:5px;" placeholder="Data Final" />
    <input type="text" id="PulodoGato" class="form-group-sm maskClass ReplicarRecurso" style="margin-right:5px;" placeholder="Replicar Recurso" />
    <input type="text" id="PulodoGatinho" class="form-group-sm maskClass ReplicarRequisito" style="margin-right:5px;" placeholder="Replicar Requisito" />
    <div id="meses" class="row col-md-12">

    </div>
</div>
<div id="testt" style="width:1000px !important;height:500px !important;">

</div>


