@{
    ViewBag.Title = "Home Page";

}
@section scripts{

    <script src="~/Scripts/echarts.js"></script>

}

<div id="barraPrincipal" class="jumbotron">
    <h1>Dashboard - Balanço</h1>
    <p class="lead">Recurso X Requisito</p>

    <p><a id="btnCalcular" style="background-color: orangered; border-color: orangered;" class="btn btn-primary btn-lg">Calcular &raquo;</a></p>
    <div class="row col-md-12">
        @{
                    for (int i = 1; i < 13; i++)
                    {
                        var data = Convert.ToDateTime($"01/{i}/{DateTime.Now.Year}");
                        if (i == 7)
                        {
                    <div class="col-md-12">
                    </div>
                }
                <div class="col-md-2" >
                    @data.ToString("MMMM")
                    <input type="text" id="@i" class="form-group-sm maskClass" style="margin-right:5px;" />
                </div>

            }
        }

    </div>
</div>
